<form method="post">
  <!-- Error messages -->
  {{> messages }}
  <!-- Email input -->
  <div class="form-outline mb-3">
    <label for="form-email" class="form-label">Email</label>
    <input type="email" class="form-control" id="form-email" name="email"
      aria-label="Inserisci la tua email per accedere." required />
  </div>
  <!-- Password input -->
  <div class="form-outline mb-3">
    <label for="form-password" class="form-label">Password</label>
    <div class="input-group">
      <input type="password" class="form-control" id="form-password" name="password"
        aria-label="Inserisci la tua password per accedere." required />
      <span class="input-group-text">
        <i class="bi bi-eye-slash" id="togglePassword" data-bs-toggle="tooltip" title="Mostra password"></i>
      </span>
    </div>
  </div>
  <button type="submit" id="form-submit" class="btn btn-warning btn-block">Accedi</button>
  <div class="text-center">
    <a href="/reset">Hai dimenticato la password?</a>
  </div>

</form>
</div>
<script>
  const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) { return new bootstrap.Tooltip(tooltipTriggerEl) })
  const togglePassword = document.querySelector("#togglePassword");
  const password = document.querySelector("#form-password");
  togglePassword.addEventListener("click", function () { // toggle the type attribute 
    const type = password.getAttribute("type") === "password" ? "text" : "password";
    password.setAttribute("type", type); // toggle the eye icon
    this.classList.toggle('bi-eye'); this.classList.toggle('bi-eye-slash');
  });
</script>